.body {
  background: url("http://www.intrawallpaper.com/static/images/abstract-mosaic-background.png");
  background-attachment: fixed;
  background-size: cover;
}

.body h1 {
  color: rgb(233, 233, 212);
  margin-bottom: 20px;
}

.chirp {
  border-radius: 25px;
  background-color: #06A0DA;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.chirp img {
  width: 175px;
}
